.header{
height:5%;
  .header-bar{
    background-color: white;
    display: grid;
    grid-template-columns: 80% 20%;
    height: 100%;
    .title{
      color: black;
      font-size: 2rem;
      text-align: left;
    }
    .icon-container{
     //background-color: aquamarine;
      position: relative;
    }
    .icon{
      color: black;
      font-size: 2rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.body{
  --background: white;
  ion-card{
    background-color: white;
    display: grid;
    ion-card-header.ios {
      display: flex;
      flex-flow: column-reverse;
    }
  }
}